:root {
  --primary-color: #d147a3; /* Warna pink tua */
  --second-color: #ff6f91; /* Warna pink cerah */
  --h1-font: "Macondo"; /* Font untuk judul */
  --background-image: url("https://i.imgur.com/aJK1Qej.jpeg");
  --sakura: url("https://i.imgur.com/mvR3wcA.png");
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Arial", sans-serif;
  position: relative;
}

.container {
  text-align: center;
  position: relative;
  background-color: rgba(255, 255, 255, 0.5); /* Warna putih transparan */
  padding: 30px;
  border-radius: 10px; /* Sudut membulat */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Bayangan lembut */
  z-index: 1; /* Memastikan kontainer di atas background */
  margin-top: 20rem;
}

h1 {
  color: black;
  font-size: 2.2rem;
  margin-top: -0.5rem;
  font-family: var(--h1-font);
}

#welcome-message {
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.button {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: var(--second-color); /* Warna latar belakang tombol */
  border: 2px solid var(--second-color); /* Border dengan warna pink cerah */
  border-radius: 25px; /* Radius lebih besar untuk tombol lebih bulat */
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: transparent; /* Latar belakang transparan saat hover */
  color: var(
    --second-color
  ); /* Ubah warna teks menjadi pink cerah saat hover */
}